build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build --cxxopt=-stdlib=libc++ --host_cxxopt=-stdlib=libc++
build --experimental_guard_against_concurrent_changes

build:remote --jobs=50
build:remote --define=EXECUTOR=remote
build:remote --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote --bes_backend=grpcs://cloud.buildbuddy.io
build:remote --remote_timeout=3600
build:remote --remote_cache=grpcs://cloud.buildbuddy.io
build:remote --remote_executor=grpcs://cloud.buildbuddy.io
build:remote --host_platform=@buildbuddy_toolchain//:platform
build:remote --platforms=@buildbuddy_toolchain//:platform
build:remote --extra_execution_platforms=@buildbuddy_toolchain//:platform
build:remote --crosstool_top=@buildbuddy_toolchain//:toolchain
build:remote --extra_toolchains=@buildbuddy_toolchain//:cc_toolchain

build:lto --cxxopt=-flto=thin
build:lto --linkopt=-flto=thin

build:asan --strip=never
build:asan --cxxopt=-fsanitize=address
build:asan --cxxopt=-O0
build:asan --cxxopt=-fno-omit-frame-pointer
build:asan --cxxopt=-DGPR_NO_DIRECT_SYSCALLS
build:asan --cxxopt=-DGRPC_ASAN
build:asan --cxxopt=-DADDRESS_SANITIZER  # used by absl
build:asan --linkopt=-fsanitize=address
build:asan --action_env=ASAN_OPTIONS=detect_leaks=1:color=always
build:asan --action_env=LSAN_OPTIONS=suppressions=test/core/util/lsan_suppressions.txt:report_objects=1

build:msan --strip=never
build:msan --cxxopt=-fsanitize=memory
build:msan --cxxopt=-O0
build:msan --cxxopt=-fsanitize-memory-track-origins
build:msan --cxxopt=-fsanitize-memory-use-after-dtor
build:msan --cxxopt=-fno-omit-frame-pointer
build:msan --cxxopt=-DGPR_NO_DIRECT_SYSCALLS
build:msan --cxxopt=-DMEMORY_SANITIZER  # used by absl
build:msan --linkopt=-fsanitize=memory
build:msan --action_env=MSAN_OPTIONS=poison_in_dtor=1

try-import %workspace%/user.bazelrc
