BasedOnStyle: Google
IncludeCategories:
  - Regex:           '<([A-Za-z0-9\Q/-_\E])+'
    Priority:        1
  - Regex:           '"absl\/'
    Priority:        2
  - Regex:           '"type_safe\/'
    Priority:        3
  - Regex:           '"llvm\/'
    Priority:        4
  - Regex:           '"asmjit\/'
    Priority:        5
  - Regex:           '"re2\/'
    Priority:        6
  - Regex:           '"gtest\/'
    Priority:        7
  - Regex:           '"magic_enum'
    Priority:        8
  - Regex:           '"libpgquery'
    Priority:        9