# Bazel
/bazel-*
user.bazelrc

# VS Code
/.vscode

# Misc
/db

# Profiling
/perf-*

# TPCH Data
/benchmark/tpch/raw
/benchmark/tpch/data
/benchmark/tpch/data-1/*.kdb
/benchmark/tpch/data-1/*.kdbindex
/benchmark/tpch/data-10/*.kdb
/benchmark/tpch/data-10/*.kdbindex
/benchmark/tpch/raw-1/*.tbl
/benchmark/tpch/raw-10/*.tbl
/benchmark/tpch/raw-1/*.tbl.tight
/benchmark/tpch/raw-10/*.tbl.tight
/benchmark/tpch/monetdb/*
!/benchmark/tpch/monetdb
!/benchmark/tpch/monetdb/README.md
/benchmark/tpch/duckdb/*
!/benchmark/tpch/duckdb
!/benchmark/tpch/duckdb/README.md

# JOB Data
/benchmark/job/raw
/benchmark/job/data
/benchmark/job/monetdb/*
!/benchmark/job/monetdb
!/benchmark/job/monetdb/README.md
/benchmark/job/duckdb/*
!/benchmark/job/duckdb
!/benchmark/job/duckdb/README.md

# JCC-H Data
/benchmark/jcch/data*
/benchmark/jcch/raw*