# Bazel
/bazel-*
user.bazelrc

# VS Code
/.vscode

# Misc
/db

# Profiling
/perf-*

# TPC-H SF1 Data
/benchmark/tpch1/raw
/benchmark/tpch1/data
/benchmark/tpch1/monetdb/*
!/benchmark/tpch1/monetdb
!/benchmark/tpch1/monetdb/README.md
/benchmark/tpch1/duckdb/*
!/benchmark/tpch1/duckdb
!/benchmark/tpch1/duckdb/README.md

# JOB Data
/benchmark/job/raw
/benchmark/job/data
/benchmark/job/monetdb/*
!/benchmark/job/monetdb
!/benchmark/job/monetdb/README.md
/benchmark/job/duckdb/*
!/benchmark/job/duckdb
!/benchmark/job/duckdb/README.md

# JCC-H Data
/benchmark/jcch/data*
/benchmark/jcch/raw*