# Bazel
/bazel-*
user.bazelrc

# VS Code
/.vscode

# Misc
/db

# Profiling
/perf-*

# TPCH Data
/benchmark/tpch/data*
/benchmark/tpch/raw*

# JOB Data
/benchmark/job/data*
/benchmark/job/raw*

# JCC-H Data
/benchmark/jcch/data*
/benchmark/jcch/raw*